.select-list {
  width: 150px;
  height: 51px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}

.view-select {
  width: calc(100% - 30px);
  color: #4b4a4a;
  position: absolute;
  right: 30px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  min-height: 51px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  transition: border-bottom-right-radius 0.4s;
  &.active {
    border-bottom-right-radius: 9px;
    .item {
      opacity: 1;
      height: 51px;
    }
  }
}
.select-active {
  height: 51px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}
.select {
  width: 100%;
  box-sizing: border-box;
}

.item {
  height: 0;
  overflow: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  padding-left: 20px;
  transition: all 0.4s;
}

//button
.select-button {
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #e4e4e4;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: rotate(180deg);
    border-bottom: 5px solid black;
    transition: transform 0.5s;
  }
  &.active {
    &::after {
      transform: rotate(0deg);
    }
  }
  &:hover {
    background-color: #343a40;
    border-color: #343a40;
    transition: all 0.5s;
    &::after {
      border-bottom: 5px solid #ffffff;
    }
  }
}

