<div class="select-list">
  <div class="view-select" *ngIf="selectData" [ngClass]="{'active':isListVisible}">
    <div class="select-active">{{value.text}}</div>
    <div class="select">
      <div *ngFor="let option of selectData.select_options"  class="item" [ngClass]="{selected:getCssForSelected(option)}" (click)="selectItem(option)">{{option.text}}</div>
    </div>
  </div>
  <div class="select-button" (click)="toggleList()" [ngClass]="{'active':isListVisible}">
  </div>
</div>
