.main {

  @media screen and (max-width: 1024px) {
    width: 95%;
  }

  &__arrow {
    display: none;

    @media screen and (max-width: 500px) {
      width: 30px;
      height: 51px;
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        transition: transform 0.3s;
        opacity: 0.4;
      }
    }
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__decription {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    margin: 0;
    font-size: 1.25rem;
  }
  &__text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1;
    color: #212529;
  }
  &__date {
    font-weight: 700;
    position: relative;
    top: -5px;
  }
 
  @media screen and (max-width: 1024px) {
    &__input-count-items {
      box-sizing: border-box;
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 500px) {
    &__wrap-redirect-button {
      position: absolute;
      visibility: visible;
      width: 90px;
      right: calc(100% - 90px);
      transition: all 0.3s;
    }

    &__btn-redirect {
      width: 100%;
    }
  }
}
