<header class="heading main">
  <h1 class="heading__title">GS task</h1>
</header>
<main class="main">
  <app-search [count_favorit]="count_favorit" (query)="show($event  )"></app-search>
  <section class="main__items grid-layout">
    <article *ngFor="let item of mainVideoManagement.collection" class="main__item">
      <div class="main__wrap-img wrap-img">
        <img [src]="item.snippet.thumbnails.medium.url" alt="{{item.snippet.channelTitle}}" (click)="details(item)">
      </div>
      <div class="main__description">
        <header>
          <h2 class="main__title">{{item.snippet.channelTitle | shortText: '25'}}</h2>
        </header>
        <p class="main__text">{{item.snippet.title | shortText: '70'}}</p>
        <p class="main__date">{{item.snippet.publishedAt | date}}</p>
      </div>
      <div class="main__wrap-button wrap-button">
        <button class="main__btn-add btn-add" (click)="addFavorite(item)">Add to favorites</button>
      </div>
    </article>
  </section>
</main>
