/* You can add global styles to this file, and also import other style files */

html {
  font-size: 16px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
input:focus {
  outline: 0 none;
}

.heading__title {
  font-size: 30px;
}
.main {
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

  @media screen and (max-width: 1021px) {
    width: 95%;
  }
}

.wrap-button {
  width: 100%;
  height: 50px;

  @media screen and (max-width: 768px) {
    width: 300px;
    position: initial;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.btn-add {
  color: #343a40;
  background-color: #e4e4e4;
  border: 1px solid transparent;
  border-radius: 9px;
  height: 36px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #e4e4e4;
    background-color: #343a40;
  }

  &.btn-redirect {
    width: 130px;
    height: 50px;
    background-color: initial;
    border: 1px solid #e4e4e4;
    transition: all 0.3s;
    &:hover {
      background-color: #343a40;
      color: #ffffff;
      border: 1px solid transparent;
    }
  }
}

.wrap-img {
  img {
    width: 100%;
  }
}

.grid-layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  margin-top: 20px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2,1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    column-gap: unset;
    row-gap: 15px;
  }
}

@import "clear.css";
