<div class="search__form" [formGroup]="myForm" *ngIf="myForm">
    <div class="search__content-search-group" [ngClass]="{'long-input': long_input}">
      <div class="search__wrap-redirect-button">
        <button class="search__btn-add search__btn-redirect btn-add btn-redirect" routerLink="/favorite">Favorites <span class="search__count-favorites" *ngIf="count_favorit">{{count_favorit}}</span></button>
      </div>
      <div class="search__wrap-input">
        <input (keydown.enter)="send()" id="searchInput" type="text" class="search__input-search" [placeholder]="search" formControlName="search">
        <div class="search__arrow" (click)="longInput()">
          <img [src]='dataNvBar.arrow' alt="Arrow">
        </div>
        <button type="submit" class="search__search-bottom" (click)="send()">
          <img [src]='dataNvBar.icon_search' alt="Send">
        </button>
      </div>
      <div class="search__wrap-select">
        <app-select-list [selectData]="_selectData" formControlName="_select" *ngIf="_selectData"></app-select-list>
      </div>
    </div>
  </div>
