.search {
    margin-top: 50px;
  
    @media screen and (max-width: 1024px) {
      width: 95%;
    }
  
    &__content-search-group {
      font-size: 1rem;
      color: #4b4a4a;
      width: 100%;
      height: 62px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }
  
    &__wrap-input {
      width: 60%;
      height: 51px;
      position: relative;
  
      @media screen and (max-width: 768px) {
        width: calc(100% - 315px);
      }
  
      @media screen and (max-width: 500px) {
        width: 70px;
        ::-webkit-input-placeholder {
          color: transparent;
        }
        margin-right: calc((100% - 300px) / 2);
        transition: all 0.3s;
      }
    }
  
    &__input-search {
      width: 100%;
      box-sizing: border-box;
      font-size: 1rem;
      padding: 15px 40px 15px 25px;
      border: 1px solid #e9ecef;
      border-radius: 10px;
      
      @media screen and (max-width: 500px) {
        padding: 15px 0;
      }
    }
  
    &__wrap-img {
      overflow: hidden;
      width: 320px;
      height: 180px;
      cursor: pointer;
  
      img {
        transform: scale(1, 1);
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.15, 1.15);
        }
      }
    }
  
    &__search-bottom {
      width: 30px;
      height: 30px;
      border: none;
      cursor: pointer;
      right: 10px;
      top: 10px;
      position: absolute;
      background-color: transparent;
      transition: opacity 0.3s;
      opacity: 0.4;
  
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
  
      &:hover {
        opacity: 1;
      }
  
      @media screen and (max-width: 500px) {
        right: 0;
      }
    }
  
    @media screen and (max-width: 500px) {
      &__content-search-group {
        justify-content: flex-end;
        position: relative;
  
        &.long-input {
          .search__wrap-redirect-button {
            visibility: hidden;
            transform-origin: 0 50%;
            transform: scaleX(0);
          }
  
          .search__wrap-input {
            width: calc(100% - 160px);
            margin-right: 30px;
            ::-webkit-input-placeholder {
              color: initial;
            }
  
            .search__arrow {
              left: 7px;
  
              img {
                transform: rotateY(180deg);
              }
            }
          }
  
          .search__input-search {
            padding: 15px 40px 15px 35px;
          }
  
          .search__search-bottom {
            right: 10px;
          }
        }
      }
    }
  
    &__arrow {
      display: none;
  
      @media screen and (max-width: 500px) {
        width: 30px;
        height: 51px;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          transition: transform 0.3s;
          opacity: 0.4;
        }
      }
    }
   
    // select
    &__wrap-select {
      display: flex;
      justify-content: flex-end;
      @media screen and (max-width: 1024px) {
        justify-content: space-between;
        padding: 15px 0;
      }
    }
  
    &__wrap-inputs {
      width: 400px;
      display: flex;
      justify-content: flex-start;
    }
  
    @media screen and (max-width: 1024px) {
      &__input-count-items {
        box-sizing: border-box;
        margin-right: 10px;
      }
    }
  
    @media screen and (max-width: 500px) {
      &__wrap-redirect-button {
        position: absolute;
        visibility: visible;
        width: 90px;
        right: calc(100% - 90px);
        transition: all 0.3s;
      }
  
      &__btn-redirect {
        width: 100%;
      }
    }
  }