<header class="heading main">
  <h1 class="heading__title">Favorite</h1>
  <div class="heading__wrap-redirect-button">
    <button class="btn-add btn-redirect" routerLink="/main">Main</button>
  </div>
</header>
<main class="favorite__wrap-items grid-layout">
  <article *ngFor="let item of favoriteDataManagement.collection;let i = index" class="favorite__item">
    <div class="favorite__wrap-img wrap-img">
      <img [src]="item.snippet.thumbnails.medium.url" alt="{{item.snippet.channelTitle}}" (click)="details(item)">
    </div>
    <div class="favorite__description">
      <div>
        <h2 class="favorite__title">{{item.snippet.channelTitle | shortText: '25'}}</h2>
        <div class="favorite__text">{{item.snippet.title | shortText:'70'}}</div>
      </div>
      <div class="favorite__date">{{item.snippet.publishedAt | date:'medium'}}</div>
    </div>
    <div class="favorite__wrap-button wrap-button">
      <button class="btn-add" (click)="removeFavorite(i)">Remove favorites</button>
    </div>
  </article>
</main>

