.heading {
  display: flex;
  justify-content: space-between;
}
.favorite__wrap-items {
  &.grid-layout {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  
    @media screen and (max-width: 1021px) {
      width: 95%;
    }
  }
}
.favorite__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favorite__wrap-img {
  overflow: hidden;
  cursor: pointer;

  img {
    transform: scale(1, 1);
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.15, 1.15);
    }
  }
}

.favorite__description {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favorite__title {
  margin: 0;
  font-size: 1.25rem;
}

.favorite__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  color: #212529;
}

.favorite__date {
  font-weight: 700;
  margin-top: 5px;
}
 
    
