<header>
 <h1 class="details__title main">Details</h1>
</header>

<main class="details">
  <div class="details__content">
    <div class="details__video">
      <div [innerHtml]="template | sanitizerHtml" *ngIf="template"></div>
      <div class="details__info" *ngIf="videoManagement.collection[0]">
        <h2 class="details__title">{{videoManagement.collection[0].snippet.title}}</h2>
      </div>
    </div>
    <div class="details__wrap-button wrap-button">
      <button class="details__btn-add btn-add" routerLink="/favorite">Favorites</button>
      <button class="details__btn-add btn-add" routerLink="/main">Main</button>
    </div>
    <hr class="details__hr">
    <div class="details__comments">
      <article class="details__comment" *ngFor="let item of comentsManagement.collection">
        <div class="details__wrap-img">
          <img [src]="item.snippet.topLevelComment.snippet.authorProfileImageUrl" alt="">
        </div>
        <div class="details__wrap-comments">
          <div class="details__wrap-head">
            <div class="details__author">{{item.snippet.topLevelComment.snippet.authorDisplayName}}</div>
            <div class="details__date">{{item.snippet.topLevelComment.snippet.publishedAt | date}}</div>
          </div>
          <div class="details__text">{{item.snippet.topLevelComment.snippet.textDisplay}}</div>
        </div>
      </article>
    </div>
  </div>
</main>

