.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details__title {
  font-size: 30px;
  margin-top: 30px;
  width: 1200px;
}

.details__content {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.details__video,
.details__comments,
.details__hr {
  width: 100%;
}

.details__info {
  padding: 1.25rem;
  box-sizing: border-box;
}

.details__title {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.details__wrap-button {
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  width: 90px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.details__btn-add {
  width: 90px;
  height: 90px;
  border-radius: 45px;
}

.details__comment {
  display: flex;
  margin-bottom: 36px;
  margin-top: 25px;
}

.details__wrap-img {
  margin-right: 15px;
}

.details__wrap-img img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.details__wrap-head {
  display: flex;
}

.details__author {
  font-size: calc(1.3rem / 1.5);
  font-weight: 500;
  line-height: calc(1.8rem / 1.5);
  color: hsl(0, 0%, 7%);
  margin-right: 10px;
}

.details__date {
  font-size: calc(1.3rem / 1.5);
  font-weight: 400;
  line-height: calc(1.8rem / 1.5);
  color: hsl(0, 0%, 53%);
}

.details__text {
  color: hsl(0, 0%, 7%);
  font-size: calc(1.4rem / 1.5);
  font-weight: 400;
  line-height: calc(2rem / 1.5);
  margin-top: 10px;
}

@media screen {
  @media (max-width: 1366px) {
    .details__content,
    .details__title {
      width: 90%;
    }
  }

  @media (max-width: 500px) {
    /* buttons */
    .details__wrap-button {
      width: 100%;
      flex-direction: initial;
      align-items: center;
      height: initial;
      position: initial;
      right: initial;
      bottom: initial;
      justify-content: space-around;
    }

    .details__btn-add {
      border-radius: 5px;
      height: 40px;
    }

    .details__hr {
      margin-top: 30px;
    }
  }
}


